#{extends 'main.html' /}
#{set title:'Home' /}
<h2>Results for Query: ${testSQL} </h2>
</br>
     <h3>getAllViewsCursor:</h3>
        <table id="Play" class="yui" align="center">
        	<tbody>	 			           			
	           	#{if tableRowsList}
	        		#{list tableRowsList, as:'rowval'}
	        			<tr>
	        				#{if rowval}
	        					#{list rowval, as:'colval'}
					 				<td>
					 					<b>${colval.get("colId")}</b>
					 					</br>---</br>
					 					#{if colval.get("colValue")}
					 						${colval.get("colValue")}
					 					#{/if}
					 					#{else}
					 						&nbsp
					 					#{/else}	
	 				 				</td>	        				
	        			        #{/list}
						    #{/if}
						</tr>		  
		        	#{/list}		         		
	         	#{/if}
           </tbody> 
  		</table>
  </br>
       <div id="pageNavPosition" style="padding-top: 20px" align="center">
      </div>

 <script type="text/javascript"><!--
var pager = new Pager('Play', 50);
pager.init();
pager.showPageNav('pager', 'pageNavPosition');
pager.showPage(1);
</script>

</br>
 <a href="@{Application.index()}" align="left">Back to form </a>