#{extends 'main.html' /}
#{set title:'Home' /}
<h2>Results for Query: ${testSQL} </h2>
</br>
        <table id="Play" class="yui" align="center">
        	<tbody>	 			           			
	           	#{if tableRowsList}
	        		#{list tableRowsList, as:'rowval'}
	        			<tr>
	        				#{if rowval}
	        					#{list rowval, as:'colval'}
					 				<td>
					 					<b>${colval.get("colId")}</b>
					 					</br>---</br>
					 					#{if colval.get("colValue")}
					 						${colval.get("colValue")}
					 					#{/if}
					 					#{else}
					 						&nbsp
					 					#{/else}	
	 				 				</td>
	        			        #{/list}
						    #{/if}
						</tr>
		        	#{/list}
	         	#{/if}
           </tbody> 
  		</table>
  </br>
  <table style="width:25% ;margin-left: 26cm; border-color: white;">
  	<tr>
		#{if page > 1}
			<td align="left" style="border-color: white;">
				<a href="javascript:history.go(-1)"><h4 style="color: black;"><< Previous</h4></a>
			</td>
		#{/if}
		#{if tableRowsList.size == localsize}
			<td align="right" style="border-color: white;">
				<a href="@{Application.renderResult(testSQL,page=page+1)}"><h4 style="color: black;">Next >></h4></a>
			</td>
		#{/if}
	</tr>
  </table>
  </br>
  #{if page >2}
  	<a href="@{Application.firstPage(testSQL,page=1)}"><h4 style="color: black;">First Page</h4></a>
  #{/if}
</br>

</br>
 <a href="@{Application.index()}" align="left">Back to form </a>